@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* Large screen container */
@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

/* Medium screen container */
@media (max-width: 992px) {
  .container {
    max-width: 800px;
  }
}

/* Small screen container */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}
